body{
    background-image: url(imagem-de-fundo.jpg);
    background-size: cover;
    background-position: top center;
    margin: 0px;
    padding: 0px;
    display: block;
}

.header {
    background-color: rgba(0, 0, 0, 0.7);
    height: 120px;
    padding: 0px 150px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-family: sans-serif; 
    font-weight: 100;
    color: red;
    font-weight: bold
}

#logo {
}

#foto{
    width: 180px;
    padding-top: 0px;
}

.div_idiomas{
    padding-right: 30px;
}

.opcoes{
    padding-top: 30px;
    justify-content: space-between;
    display: flex;
}

#idiomas{
    height: 35px;
    width: 150px;
    color: inherit;
    border-style: solid;
    border-width: 0.0825rem;
    border-radius: 0.2875rem;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

#entrar{
    padding: 5px;
    font-size: 15px;
    height: 35px;
    width: 70px;
    background-color: red;
    justify-content: space-around;
    border-style: solid;
    border-width: 0.0825rem;
    border-radius: 0.2875rem;
    text-align: center;
}

#entrar a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.content{
    background-color: rgba(0, 0, 0, 0.7);
    font-family: sans-serif; 
    text-align: center;
}

.content-of-middle{  
    color: white;
    margin: 0px;
    padding: 50px 70px 150px 70px;
    text-decoration: none;
    font-size: 30px;
    justify-content: center;
    font-weight: bolder;
}

.content-of-middle .content-minor{
    font-size: 20px;
    padding: 20px;
}

#email{
    font-size: 20px;
    height: 47px;
    width: 33%;
    color: inherit;
    border-style: solid;
    border-width: 0.0825rem;
    border-radius: 0.2875rem;
    background-color: rgba(0, 0, 0, 0.7);
}

#vamos_la{
    font-size: 20px;
    width: 120px;
    height: 50px;
    color: white;
    background-color: red;
    border-style: solid;
    border-color: red;
    border-width: 0.0825rem;
    border-radius: 0.2875rem;
    font-family: sans-serif; 
    text-align: center;
    font-weight: bold;
}